@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&family=Poppins:wght@400;500&display=swap");
/* Font Css Link */

:root {
  /* COLOR */
  --main-text-color: #3a3a3a;
  --button-bg-color: #e02c6d;
  --button-text-color: #ffffff;
  --footer-bg-color: #0a0826;

  /* FONT */
  --main-font: "Poppins", sans-serif;
  --secondary-font: "Inter", sans-serif;
  --footer-font: "Manrope", sans-serif;
}

/* CSS VARIABLE  */

@keyframes btn_transition {
  0% {
    transform: translate(-2px);
  }

  20% {
    transform: translate(5px);
  }

  50% {
    transform: translate(-8px);
  }
  100% {
    transform: translate(-5px);
  }
}
/* ANIMATION */

* {
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}

body {
  background-color: #ffffff;
}

.container {
  width: 85%;
  margin: 0 auto;
}
.btn {
  padding: 10px 24px;
  border: none;
  border-radius: 35px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}
.section--title {
  font-family: var(--main-font);
  color: var(--main-text-color);
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 70px;
}
/* BASIC CSS  */

#nav-bar {
  padding: 25px 0;
}

.nav-bar--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar--logo {
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 2px;
}
.nav-bar--logo > i {
  color: var(--button-bg-color);
  font-size: 1.7rem;
  background-color: var(--main-text-color);
  padding: 5px;
  border-radius: 15px;
}
.nav-bar--item {
  display: flex;
  align-items: center;
}
.nav-bar--items {
  padding: 2px;
}
.nav-bar--link {
  font-family: var(--main-font);
  color: var(--main-text-color);
  padding: 0.2rem 1rem;
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 500;
}

.nav-bar--link > .fa-search {
  font-size: 1rem;
}

.nav-bar--link > .fa-cart-plus {
  font-size: 1.2rem;
}

/* END OF NAV BAR CSS    */

#hero-part {
  padding: 25px 0;
}

.hero-part--content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.hero-part--content-textBox {
  padding-right: 14%;
  font-family: var(--main-font);
  color: var(--main-text-color);
}

.hero-part--content-textBox h1 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 45px;
  line-height: 70px;
}

.hero-part--content-textBox p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.hero-part--btn {
  color: #fff;
  background-color: var(--button-bg-color);
  margin-top: 30px;
  display: flex;
  align-items: center;
  transition: all 0.5s linear;
}
.hero-part--btn > .icon {
  margin-left: 10px;
}
.hero-part--btn:hover .icon {
  animation: btn_transition 2s infinite;
}
.hero-part--content-imageBox {
  text-align: center;
}

.hero-part--content-imageBox img {
  width: 70%;
  border-radius: 50%;
}

/* END OF HERO PART CSS */
#branding {
  margin: 50px 0;
  padding: 5px 200px;
}
.branding--content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(
      to right bottom,
      rgb(155 155 155 / 17%),
      rgb(197 195 195 / 9%)
    )
    1 / 1 / 1 stretch;
  padding: 5px 0;
  border-image-slice: 1;
  border-right: none;
  border-left: none;
}
/* END OF BRANDING CSS */

#product {
  margin-top: 50px;
}
.product--content {
  margin: 20px 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.product--cal {
  background-color: #ffffff;
  padding: 17px 14px;
  border-radius: 5px;
  box-shadow: 1px 1px 37px 0px rgba(217, 212, 212, 0.75);
}
.product--cal-img {
  width: 100%;
  margin-bottom: 20px;
}
.product--cal-title {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  text-transform: capitalize;
  margin-bottom: 17px;
}

.product--cal-prize {
  font-family: var(--secondary-font);
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 15px;
  display: block;
}
.product--cal-icon {
  font-size: 16px;
  color: orange;
}
.product--cal-icon span {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #5e6366;
  letter-spacing: 0.1px;
}

.product--cal-text {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  margin-top: 10px;
  text-align: justify;
  color: #787885;
}
.product--btnBox {
  text-align: right;
  margin-top: 40px;
}
.product--btn {
  padding: 0;
  color: var(--button-bg-color);
  background-color: transparent;
  font-weight: 700;
}

/* END OF PRODUCT CSS */

#footer {
  margin-top: 50px;
  padding: 40px 0;
  background-color: var(--footer-bg-color);
  color: #ffffff;
}
.footer--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer--content > span {
  display: block;
  margin-bottom: 15px;
}
.footer--logo {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 2px;
}

.footer--copyright {
  font-family: var(--footer-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.footer--text {
  font-family: var(--footer-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}
.footer--social-box {
  display: flex;
}

.footer--social-box > li {
  padding: 0 15px;
}
.footer--social-box > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  background-color: #4036cf65;
  border-radius: 50%;
  transition: all 0.5s linear;
}
.footer--social-box > li > a > i {
  color: #fff;
  font-size: 18px;
  transition: all 0.5s linear;
}

.footer--social-box > li:hover i {
  color: #0a0826;
}
.footer--social-box > li:hover a {
  background-color: #fff;
}
